# EditorConfig (is awesome): http://EditorConfig.org

# * top-most EditorConfig file
root = true

# default style settings
[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{bat,cmd,[Bb][Aa][Tt],[Cc][Mm][Dd]]
# DOS/Win *requires* BAT/CMD files to have CRLF newlines
end_of_line = crlf

[[Mm]akefile{,.*}]
# TAB-style indentation
indent_style = tab
