.jumbotron-header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fff;
}

h2, h3 {
  font-weight: 333;
}


 code[class*="language-"],
 pre[class*="language-"] {
   color: #f8f8f2;
   background: none;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
 
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
 
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: 1.5em 0;
   overflow: auto;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #272822;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 
 .namespace {
   opacity: .7;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: #f8f8f2;
 }
 
 .token.function {
   color: #66d9ef;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 
 .token.entity {
   cursor: help;
 }
 
 .token a {
   color: inherit;
 }

code .tag {
  font-size: inherit;
  padding: 0;
  display: inherit;
}