<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<title>Scoop</title>
		<link rel="stylesheet" href="/stylesheets/styles.css">
		<link rel="stylesheet" href="/stylesheets/pygment_trac.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="/javascripts/respond.js"></script>
		<!--[if lt IE 9]>
			<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!--[if lt IE 8]>
		<link rel="stylesheet" href="/stylesheets/ie.css">
		<![endif]-->
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	</head>
	<body>
		<div id="header">
			<nav>
				<li class="fork"><a href="https://github.com/lukesampson/scoop">View On GitHub</a></li>
			</nav>
		</div><!-- end header -->

		<div class="wrapper">

			<section>
				<div id="title">
					<h1><a href="/">Scoop</a></h1>
					<p>A command-line installer for Windows</p>
				</div>

				{{ content }}
			<section>

			<div class="footer">
				<div style="text-align:center;margin-bottom:10px;">
					<a href="https://github.com/lukesampson/scoop/wiki">Documentation</a> | 
					<a href="/donate">Donations</a>
				</div>
				<hr>
				<span class="credits left">Project maintained by <a href="https://github.com/lukesampson">lukesampson</a></span>
				<span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
			</div>
		</div>

		<!--[if !IE]><script>fixScale(document);</script><![endif]-->
		
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-42894266-1");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
	</body>
</html>