<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="Newtonsoft.Json.Schema" version="3.0.10" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="2.10.0" targetFramework="net45" developmentDependency="true" />
</packages>
